<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="preProcessorBean"
          class="classes.PreProcessorToUpperImpl">
    </bean>

    <bean id="rendererBean"
          class="classes.RendererErrImpl">
        <constructor-arg ref="preProcessorBean"/>
    </bean>

    <bean id="printerWithPrefix"
          class="classes.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererBean"/>
        <property name="prefix" value="Prefix"/>
    </bean>
</beans>